%h1 Select Columns To Display

= form_tag admin_set_columns_path, method: :put do
  %table.table.table-striped.table-hover.table-condended.table-bordered#permissions.table{:cellspacing => "0"}
    %tbody
      - @columns.each do |name|
        %tr
          %td= name
          -# %td= check_box(session[:visible], session[:visible][:"#{name}"] == true)
          -if session[:visible][name] == true
            %td= link_to "hide #{name}", admin_hide_path(name)
          -else
            %td= link_to "show #{name}", admin_show_path(name)

  = link_to 'Update Table', root_path,  class: 'btn btn-default btn-primary'
