%h1 Listing records

%table
  %thead
    %tr
      %th Version
      %th Current holding
      %th Previous holding
      %th Market value
      %th Previous market value
      %th Pct held
      %th Pct portfolio
      %th Market capitalization
      %th Q0 holding
      %th Q0 quarter
      %th Q0 source
      %th Q1 holding
      %th Q1 quarter
      %th Q1 source
      %th Q2 holding
      %th Q2 quarter
      %th Q2 source
      %th Q3 holding
      %th Q3 quarter
      %th Q3 source
      %th Q4 holding
      %th Q4 quarter
      %th Q4 source
      %th Q5 holding
      %th Q5 quarter
      %th Q5 source
      %th Q6 holding
      %th Q6 quarter
      %th Q6 source
      %th Q7 holding
      %th Q7 quarter
      %th Q7 source
      %th Q8 holding
      %th Q8 quarter
      %th Q8 source
      %th P0 price
      %th P1 price
      %th P4 price
      %th Metro area
      %th Firm name
      %th Company name
      %th Ticker
      %th Q0 market value
      %th Qoq net change flow
      %th Yoy net change flow
      %th Qoq inflow
      %th Qoq outflow
      %th Yoy inflow
      %th Yoy outflow
      %th Qoq new positions
      %th Qoq soldout positions
      %th Qoq increased positions
      %th Qoq decreased positions
      %th Qoq net position change
      %th Yoy new positions
      %th Yoy soldout positions
      %th Yoy increased positions
      %th Yoy decreased positions
      %th Yoy net position change
      %th New positions
      %th Soldout positions
      %th Increased positions
      %th Decreased positions
      %th Net position change
      %th Factset security
      %th Factset entity
      %th
      %th
      %th

  %tbody
    - @records.each do |record|
      %tr
        %td= record.version
        %td= record.current_holding
        %td= record.previous_holding
        %td= record.market_value
        %td= record.previous_market_value
        %td= record.pct_held
        %td= record.pct_portfolio
        %td= record.market_capitalization
        %td= record.q0_holding
        %td= record.q0_quarter
        %td= record.q0_source
        %td= record.q1_holding
        %td= record.q1_quarter
        %td= record.q1_source
        %td= record.q2_holding
        %td= record.q2_quarter
        %td= record.q2_source
        %td= record.q3_holding
        %td= record.q3_quarter
        %td= record.q3_source
        %td= record.q4_holding
        %td= record.q4_quarter
        %td= record.q4_source
        %td= record.q5_holding
        %td= record.q5_quarter
        %td= record.q5_source
        %td= record.q6_holding
        %td= record.q6_quarter
        %td= record.q6_source
        %td= record.q7_holding
        %td= record.q7_quarter
        %td= record.q7_source
        %td= record.q8_holding
        %td= record.q8_quarter
        %td= record.q8_source
        %td= record.p0_price
        %td= record.p1_price
        %td= record.p4_price
        %td= record.metro_area
        %td= record.firm_name
        %td= record.company_name
        %td= record.ticker
        %td= record.q0_market_value
        %td= record.qoq_net_change_flow
        %td= record.yoy_net_change_flow
        %td= record.qoq_inflow
        %td= record.qoq_outflow
        %td= record.yoy_inflow
        %td= record.yoy_outflow
        %td= record.qoq_new_positions
        %td= record.qoq_soldout_positions
        %td= record.qoq_increased_positions
        %td= record.qoq_decreased_positions
        %td= record.qoq_net_position_change
        %td= record.yoy_new_positions
        %td= record.yoy_soldout_positions
        %td= record.yoy_increased_positions
        %td= record.yoy_decreased_positions
        %td= record.yoy_net_position_change
        %td= record.new_positions
        %td= record.soldout_positions
        %td= record.increased_positions
        %td= record.decreased_positions
        %td= record.net_position_change
        %td= record.factset_security_id
        %td= record.factset_entity_id
        %td= link_to 'Show', record
        %td= link_to 'Edit', edit_record_path(record)
        %td= link_to 'Destroy', record, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Record', new_record_path
